/*color fondo y letra*/

*{background-color: black}
a,p,h1,h2,label,legend{color: white;}

/*medidas y posicion logo*/

.cajita {width: 30px;
height: 50px;}

 /* tamaño y posicion de imagenes portfolio (carrusel y ventanas)*/

 .column > a > img,
 .carruseles > img {
   width: 100%; 
   margin: 10px 10px 10px 10px;
 }

/*posicionamiento carrusel superior*/

.nav-menu > ul {
  justify-content: center;
  padding-right: 50px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
}

/*estilo carrusel superior*/
.nav-menu > ul > li > a

  {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 350;
    color: white;
    line-height: 0;
    padding-right: 40px;
}

/*posicionamiento carrusel inferior*/

.nav-footer > ul {
    
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;justify-content: space-around; width: 80%;
}

/*estilo carrusel inferior*/

  .nav-footer > ul > li > a {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: white;
    line-height: 0;
  }
/*se acomoda a estilo de pantala*/

  .titulo-perfil{
    display:flex;
  }
/*tamaño y posicion foto sobre mi*/

  .titulo-izquierda {
    width: 75%;
  }
  .cajitafoto {
    height: 500px;
    top: 200px;
    bottom: 300px;
  }

/* tamaño texto sobre mi */

  .titulo-derecha {
    width: 55%;
  }
/* estilo y posicion texto sobre mi */

    .titulo-perfil > div > h1{
      color:white;
      list-style-type: none;
      display: flex;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap; 
      font-size: 50px;
      font-family: Arial, Helvetica, sans-serif;
      font-style: normal;
      font-weight: 350;
      line-height: 1;
      text-align: center;
    }
    .titulo-perfil > div > h2{
      color:white;
      list-style-type: none;
      display: flex;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap; 
      font-size: 30px;
      font-family: Arial, Helvetica, sans-serif;
      font-style: normal;
      font-weight: 350;
      line-height: 1;
      text-align: center;
    }
    .titulo-perfil  {
      color:white;
      list-style-type: none;
      display: flex;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap; 
      font-size: 15px;
      font-family: Arial, Helvetica, sans-serif;
      font-style: normal;
      font-weight: 350;
      line-height: 1;
      padding-right: 200 px;
      padding-left: 200 px ;
      text-align: center;
    }
 /*tamaño y posicion RRSS (lknd-ig)*/

    .centro 
    {width: 40px;
    height: 40px;
    justify-content: center;  
    }
     
   main, header, footer{
     width: 480px;
     margin: 0 auto;
   } 
/*medias query 769px a 1200px*/

@media screen and (min-width: 769px) and (max-width: 1200px) {
  main, header, footer{
    width: 768px;
  }
}
/*medias query 769px a 1201px*/
@media screen and (min-width: 1201px) {}






